extends ../layout

block content
  h1 
    | Minhas cervejas
  
  p
    | Nome: #{cerveja.name}
    br
    | Teor Alcoólico: #{cerveja.alcohol}
    br
    | Categoria: #{cerveja.category}
    br
    | Descrição: #{cerveja.description}
    
  a(href="/beers/update/#{cerveja._id}") Edit
  - 
  a(href="/beers/delete/#{cerveja._id}") DELETE
    
    